# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- list 5 popular languages for Data Science
- list 5 commonly used librabries for Data Science
- list 3 development environment open source tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. Seaborn

| Data Science Tools |
| -------------|
| Jupyter Notebook/Jupyter Lab |
| VS Code |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
(200/6)

33.333333333333336

## Author
Temisan Arubi